# python learning with microsoft didi

In [2]:
#type casting
#input in python
#input()statement is used to accept value 
#inpul value is always str
name=input("enter name: ")
#type of element 
print(type(name),name)

#int value provide to input
name=int(input("enter name: "))

enter name: abhishek
<class 'str'> abhishek

In [3]:
a=int(input("enter frist number: "))
b=int(input("enter second number: "))
c=a+b
print("this is a sum",c)

enter frist number: 5
enter second number: 7
this is a sum 12

In [6]:
#wap to input side of a squre and print its area
side=int(input("enter side: "))
area=(side*side)
print("area is",area)

enter side: 9
area is 81

In [7]:
#wap to input 2 floating point number & print thaeir avarage
a=float(input("enter frist number: "))
b=float(input("enter second number: "))
avarge=(a+b)/2
print("area is",avarge)

enter frist number: 7
enter second number: 8
area is 7.5

In [8]:
#wap to input 2 int number aand b.
#print true if is a is grather than or eual to b.if not print false.
a=int(input("enter frist number: "))
b=int(input("enter second number: "))
print(a>=b)

enter frist number: 8
enter second number: 9
False

# chapter 2
#string and conditional statement

In [12]:
#strings
#string is data type that store a seqence of characters
#basic operation
str1="this is a string .\nyou know taht"#\n use tonext line
str2='this is'
str3=""" the"""
print(str1)
print(str2)
print(str3)

this is a string .
you know taht
this is
 the

In [19]:
#concatenition
str2="abhi"
str3="shek"
final_string=str2+str3
print(final_string)
#length of str
#len(str)
#in length spaces also calulates.
str2="abhi"
len1=len(str2)
print(len1)


str2="abhihek"
str3="havale"
final_string=str2+" "+str3
print(final_string)
print(len(final_string))

abhishek
4
abhihek havale
14

In [20]:
#indexing
#index means given definite position number eg-
# ABHISHEK
# 01234567
str="Abhishek havale"
ch=str[0]
print(ch)

A

In [24]:
#slicing
#accending part of string
str= "abhishek havale"
ch=str[1:5]
print(ch)
str= "abhishek havale"
ch=str[1:]
print(ch)
str= "abhishek havale"
ch=str[1:len(str)]
print(ch)
#negative index
str= "abhishek havale"
ch=str[-6:-3]
print(ch)

bhis
bhishek havale
bhishek havale
hav

In [32]:
#string function
str="i am a coder with abhishek"
print(str.count("a"))

3

In [35]:
#conditional statement
#if-elif-else synatx
#if(condition)
   #statement
#

light="green"
if(light=="red"):
    print("stop")
    
elif(light=="green"):
    print("go")
elif(light=="yellow"):
    print("look")
print("end of single")

go
end of single

# CHAPTER 3
TUPLE AND LIST

In [1]:
#LIST= BILD IN DATA TYPE THAT STORESET OF VALUES[] 
# IT CAN STORE ELEMENT OF DIFFERENT TYPE (INTEGER,FLOAT,STIRNG,ETC)

#for multiline comment use ctrl+/ to selct it.

# marks1=87.7
# marks2=67
# marks3=56
# marks4=89.0
# marks5=79.87

In [5]:
list=[2,3,4,9]
#list=["banana","apple","mango","orange"]
print(list.sort(reverse=True))
list.reverse()
print(list)
list.insert(9,5)
print(list)

None
[2, 3, 4, 9]
[2, 3, 4, 9, 5]

In [11]:
#tuple in Python
# a build in datatype that lets us create immutable sequence of value
# tup=(87,23,34,56,76)separate in coma for ex
#tup=(1,)
tup=(87,23,34,56,76)
print(type(tup))

<class 'tuple'>

In [14]:
#tuple method
tup=(3,2,2,7,8)
print(tup.index(3))
print(tup.count(2))

0
2

In [15]:
#wap to ask the user to enter names of their 3 favorite movie and store them in a list
#list=["chacha","tiger","fighter"]
movies=[]
mo1=input("enter 1st movie:")
mo2=input("enter 1st movie:")
mo3=input("enter 1st movie:")
movies.append(mo1)
movies.append(mo2)
movies.append(mo3)
print(movies)

enter 1st movie:prathamesh
enter 1st movie:abhi
enter 1st movie:anish
['prathamesh', 'abhi', 'anish']

# Chapter 4
Dictionary & Sets

In [ ]:
#dictionaries are used to store data values in key:values pairs 
they are unorderd,mutable(changable)&donts allow duplicate keys
dict={
    "name":"abhi",
    "cgpa":9.7,
    "marks":[67,99,89]
}

In [4]:
info={
 "key":"value",
    "name":"abhishek havale",
    "leraning":"coding",
    "age":24,
    "name":["abhishek havale","prathamesh","nihal"],#using list as we as using tuple
}
print(info)

{'key': 'value', 'name': ['abhishek havale', 'prathamesh', 'nihal'], 'leraning': 'coding', 'age': 24}

In [2]:
print(type(info))

<class 'dict'>

In [13]:
info={
 "key":"value",
    "name":"abhishek havale",
    "leraning":"coding",
    "age":24
    }
print(info["name"])
print(info['age'])
info["surname"]="havals"
print(info["surname"])
print(info)

abhishek havale
24
havals
{'key': 'value', 'name': 'abhishek havale', 'leraning': 'coding', 'age': 24, 'surname': 'havals'}

In [16]:
#null_dist
null_dist={}
print(null_dist)

#nested Dist
student={
    "name":"abhishek havale",
    "leraning":"coding",
    "subject":{
        "phy":97,
        "chem":98,
        "maths":89
    }
}
print(student)

{}
{'name': 'abhishek havale', 'leraning': 'coding', 'subject': {'phy': 97, 'chem': 98, 'maths': 89}}

In [20]:
#Dist methpod
student={
    "name":"abhishek havale",
    "leraning":"coding",
    "subject":{
        "phy":97,
        "chem":98,
        "maths":89
    }
}
print(student.keys())#student.keys() method using
print(list(student.keys()))#convert in list
print(len(list(student.keys())))#len taken of keys

dict_keys(['name', 'leraning', 'subject'])
['name', 'leraning', 'subject']
3

In [26]:
student={
    "name":"abhishek havale",
    "leraning":"coding",
    "subject":{
        "phy":97,
        "chem":98,
        "maths":89
    }
}
print(student["name"])
print(student.get("name"))

abhishek havale
abhishek havale

In [27]:
student={
    "name":"abhishek havale",
    "leraning":"coding",
    "subject":{
        "phy":97,
        "chem":98,
        "maths":89
    }
}
print(student["name2"])#error found
print(student.get("name"))

KeyError: 'name2'

In [28]:
student={
    "name":"abhishek havale",
    "leraning":"coding",
    "subject":{
        "phy":97,
        "chem":98,
        "maths":89
    }
}
print(student["name"])
print(student.get("name2"))#no error found

abhishek havale
None

In [ ]:
#set in python
#set is the collection of unorderd item
#each element inthe set must be unique and immutable
num={1,2,3,4}
set1={1,2,2,2,2}
#repeated elemnt stored only once so it resoved to{1,2}.
null_set=set()#empty set synex
set is mutable
set - element-is immutable
unhashable type error
unshable means if any value change in future means that mutable value .
set.pop #which remove random value

In [35]:
num={1,2,3,4,"anish","abhi","98",65}
print(num)
print(type(num))

{1, 2, 3, 4, 'anish', 65, '98', 'abhi'}
<class 'set'>

In [38]:
#set.union
set1={1,2,3}
set2={3,4,5}
print(set.union(set2))

{3, 4, 5}

In [39]:
set1={1,2,3}
set2={3,4,5}
print(set.intersection(set2))

{3, 4, 5}

In [41]:
#you are given list of subject for students .Assume one classsrom is requiedfor 1 subject.how many classroom are needed by all student
subject={
    "python","java","c++","python","javascript","java","python","java","c++","c"
}
print(subject)
print(len(subject))

{'c++', 'c', 'python', 'java', 'javascript'}
5

In [42]:
#wap to enter marks of 3 subject from the user and store them in a dictionary.start with an emty dictionary and add one by one. use subject name as key and marks as value
marks={}
a=int(input("enter phy mark:"))
marks.update({"phy":a})

a=int(input("enter chhem mark:"))
marks.update({"chem":a})

a=int(input("enter maths mark:"))
marks.update({"maths":a})
print(marks)

enter phy mark:87
enter chhem mark:98
enter maths mark:56
{'phy': 87, 'chem': 98, 'maths': 56}

# chapter 5
    #loops in python

In [ ]:
#loops are used to reapeat instruction
while loops
for loops
while condition:
    #some work

In [2]:
i=0
while i<=5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

0
1
2
4
5

In [4]:
i=0
while i<=10:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [5]:
i=0
while i<=10:
    if(i%2!=0):
        i+=1
        continue
    print(i)
    i+=1

0
2
4
6
8
10

In [ ]:
loop in python
for loop used for sequential traversal.for traversing list,string, tuple etc
for el in list:#el-element
    #some work

In [7]:
nums=[1,2,3,4,5]
for val in nums:
    print(val)

1
2
3
4
5